* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background colorati per sezione */

#sec1 {
    background-color: red;
    height: 100vh;
    width: 100%;
    position: relative;
}

#sec2 {
    background-color: rgb(0, 255, 21);
    height: 100vh;
    width: 100%;
    position: relative;

}

#sec3 {
    background-color: rgb(255, 251, 0);
    height: 100vh;
    width: 100%;
    position: relative;

}
 

/* centrare le img */
img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* centrare le scritte */
p {
    position: absolute;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
}